


// .side-bar {
//   width: 30%;
// }

// .main-content {
//     margin-left: 30%;
// }

// .site-header {
//   width: 30%;    
//   max-width: 30%;
// }

// .site-nav {
//   width: 30%;    
//   max-width: 30%;
// }

// .nav-list .nav-list-link {
//   white-space: nowrap;   /* Prevents the link text from wrapping */
//   overflow: hidden;
//   text-overflow: ellipsis;
// }





// https://github.com/just-the-docs/just-the-docs/issues/1380

.my-right-toc {
  position: fixed;
  top: 3.75rem;
  right: 0px;
  width: 20%; // 300px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  background: #ffffff;
  padding: 1.5rem;
  // border-radius: 12px;
  // box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  // border-left: 4px solid #4353FA;
  z-index: 10;
  font-size: 0.85rem;
  margin-top: 2em ;
  scrollbar-width: thin;
}

@media (max-width: 900px) {
  .my-right-toc {
    display: none;
  }
  .main-content {
    margin-right: 0;
  }
}